In [ ]:
#importando bibliotecas

#IMPRIMO OS GRÁFICOS DENTRO DO JUPYTER
%matplotlib inline

#manipulação de dados de arrays
import numpy as mp
import pandas as pd

#machine learning
import sklearn as sk
from sklearn import svm

#visualização
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#sites para auxílio
#https://www.vooo.pro/insights/12-tecnicas-pandas-uteis-em-python-para-manipulacao-de-dados/

#http://minerandodados.com.br/index.php/2017/05/30/7-tipos-graficos-cientista-de-dados/

#https://pythonspot.com/matplotlib-pie-chart/ -> para colocar valores nas fatias

#documentação bem ampla
#https://matplotlib.org/api/pyplot_api.html#matplotlib.pyplot.pie

#bons exemplos
#https://pythonspot.com/en/matplotlib-gallery/

In [ ]:
#lendo o dataset
titanic = pd.read_csv("../Treino/train.csv")
titanic_teste = pd.read_csv("../Teste/test.csv")


# mostra os tipos das variáveis do dataset
titanic.dtypes
titanic_teste.tail()

In [ ]:
# variáveis numéricas/quantitativas: 
#    - discreta: sibsp, parch
#    - continuous: age, fare

# variáveis categóricas/qualitativas:
#    - nominal: name, ticket, survived, cabin
#    - ordinal: Pclass

titanic.info()

In [ ]:
#COLUNAS QUE NÃO CONTRIBUEM PARA A ANÁLISE SÃO RETIRADAS
titanic1 = titanic.copy()
titanic1.drop(['PassengerId','Cabin','Ticket','Name'], axis=1, inplace=True)

titanic_teste.drop(['PassengerId','Cabin','Ticket','Name'], axis=1, inplace=True)

In [ ]:
# armazena a quantidade total de mulheres e a quantidade de mulheres que sobreviveram
qtd = len(titanic[titanic['Sex'] == 'female'])
survive = len(titanic[(titanic['Sex'] == 'female') & ((titanic['Survived']) == 1)]) 

info_female = {"quantidade": qtd, "sobreviventes": survive}

# armazena a quantidade total de homens e a quantidade de homens que sobreviveram 
qtd_H = len(titanic[titanic['Sex'] == 'male'])
survive_H = len(titanic[(titanic['Sex'] == 'male') & ((titanic['Survived']) == 1)])

info_male = {"quantidade": qtd_H, "sobreviventes": survive_H}

#VOU ADOTAR QUE,
#CLASSE 1 = RICA
#CLASSE 2 = MÉDIA
#CLASSE 3 = POBRE

# armazena a quantidade de pessoas de cada classe social
info_male['qtd_ricos'] = len(titanic[(titanic['Sex'] == 'male') & (titanic['Pclass'] == 1)])
info_male['qtd_classe_media'] = len(titanic[(titanic['Sex'] == 'male') & (titanic['Pclass'] == 2)])
info_male['qtd_pobres'] = len(titanic[(titanic['Sex'] == 'male') & (titanic['Pclass'] == 3)])

info_female['qtd_ricos'] = len(titanic[(titanic['Sex'] == 'female') & (titanic['Pclass'] == 1)])
info_female['qtd_classe_media'] = len(titanic[(titanic['Sex'] == 'female') & (titanic['Pclass'] == 2)])
info_female['qtd_pobres'] = len(titanic[(titanic['Sex'] == 'female') & (titanic['Pclass'] == 3)])

# visualização de dados

In [ ]:
vivos = len(titanic[titanic['Survived'] == 1])
mortos = len(titanic[titanic['Survived'] == 0])

fatias = [vivos, mortos]
labels = ['Sobreviventes','Mortos']

plt.pie(fatias,labels=labels,autopct='%1.1f%%',colors=['g','r'])
plt.legend(loc='upper left',prop={'size':10})
plt.title('Relação quantidade de sobreviventes X mortos')
plt.show()

In [ ]:
#RELAÇÃO ENTRE HOMENS E MULHERES QUE SOBREVIVERAM
M = len(titanic[(titanic['Sex'] == 'female') & (titanic['Survived'] == 1)])
H = len(titanic[(titanic['Sex'] == 'male') & (titanic['Survived'] == 1)])

plt.bar('Mulheres sobreviventes',M, label='Mulher', color='pink')
plt.bar('Homens sobreviventes',H,label='Homem',color='b')
plt.title("Quantidade de passageiros: " + str(len(titanic['PassengerId'])))
plt.legend()
plt.show()

print("\n\n")

#-------------------------------------------------------------------------------------------------------------------------

#RELAÇÃO ENTRE HOMENS E MULHERES QUE NÃO SOBREVIVERAM
M1 = len(titanic[(titanic['Sex'] == 'female') & (titanic['Survived'] == 0)])
H1 = len(titanic[(titanic['Sex'] == 'male') & (titanic['Survived'] == 0)])

plt.bar('Mulheres não Sobreviventes',M1,color='pink',label='Mulher')
plt.bar('Homens não Sobreviventes',H1, label='Homen', color='b')
plt.title("Quantidade de passageiros: " + str(len(titanic['PassengerId'])))
plt.legend()
plt.show()

In [ ]:
titanic.head()

In [ ]:
#mulheres que embarcaram em Southampton e sobreviveram 
Mulheres_S = len(titanic[(titanic['Sex'] == 'female') & (titanic['Survived'] == 1) & (titanic['Embarked'] == 'S')])

#mulheres que embarcaram em Queenstown e sobreviveram
Mulheres_Q = len(titanic[(titanic['Sex'] == 'female') & (titanic['Survived'] == 1) & (titanic['Embarked'] == 'Q')])

#mulheres que embarcaram em Cherbourg e sobreviveram
Mulheres_C = len(titanic[(titanic['Sex'] == 'female') & (titanic['Survived'] == 1) & (titanic['Embarked'] == 'C')])

#dados para plot
labels = ['Southampton','Queenstown','Cherbourg']
sizes = [Mulheres_S,Mulheres_Q,Mulheres_C]
explode = (0.1,0,0)

#plot
plt.pie(sizes,explode=explode,labels=labels,autopct='%.1f%%', shadow=True)
plt.title('Mulheres sobreviventes e seus portos de embarque')
plt.legend()
plt.show()

print("\n\n")

#--------------------------------------------------homens-----------------------------------------------------------------------

#homens que embarcaram em Southampton e sobreviveram 
homens_S = len(titanic[(titanic['Sex'] == 'male') & (titanic['Survived'] == 1) & (titanic['Embarked'] == 'S')])

#homens que embarcaram em Queenstown e sobreviveram
homens_Q = len(titanic[(titanic['Sex'] == 'male') & (titanic['Survived'] == 1) & (titanic['Embarked'] == 'Q')])

#homens que embarcaram em Cherbourg e sobreviveram
homens_C = len(titanic[(titanic['Sex'] == 'male') & (titanic['Survived'] == 1) & (titanic['Embarked'] == 'C')])

#dados para plot
labels = ['Southampton','Queenstown','Cherbourg']
sizes = [homens_S, homens_Q, homens_C]
explode = (0.1,0,0)

#plot
plt.pie(sizes,explode=explode,labels=labels,autopct='%.1f%%', shadow=True)
plt.title('Homens sobreviventes e seus portos de embarque')
plt.legend()
plt.show()

#--------------------------------------------------comentários-----------------------------------------------------------------------

#A maioria tanto dos homens quanto das mulheres sobreviventes foram de Southmpton, mas isso se deve somente ao fato de 
# a maioria das pessoas terem vindo de lá.

In [ ]:
# QUANTIDADE A RESPEITO DA COLUNA FARE
print(titanic1['Fare'].agg(['max','min','mean','count']),"\n\n")

#HISTOGRAMA DA FREQUÊNCIA PARA TAXA DE EMBARQUE(FARE)
titanic1['Fare'].plot(kind='hist')
plt.grid()
plt.title("Fare(taxa de embarque)")
plt.show()

# modificação dos dados

In [ ]:
# modificar o fare para números discretos
# [0,25] muito pobre = 0
# (25,50] pobre = 1
# (50,100] médio = 2
# (100,250] média alta = 3
# (250, ~) rico = 4

def fare_to_discretValue(titanic):
    lista = titanic['Fare']
    lista2 = []

    for valor in lista:
        if((float(valor) >= 0) & (float(valor) <= 25)):
            lista2.append(int(0))
        elif((float(valor) > 25) & (float(valor) <= 50)):
            lista2.append(int(1))
        elif((float(valor) > 50) & (float(valor) <= 100)):
            lista2.append(int(2))
        elif((float(valor) > 100) & (float(valor) <= 250)):
            lista2.append(int(3))
        elif(float(valor) > 250):
            lista2.append(int(4))
        else:
            lista2.append(int(5))
            
    return lista2

#dados de treino
titanic2 = titanic1.copy()
titanic2.Fare = fare_to_discretValue(titanic1)

#dados de teste
titanic_teste.Fare = fare_to_discretValue(titanic_teste)

In [ ]:
# modificar a idade para valores discretos
# 0 ~ 10 criança = 0
# 11 ~ 19 adolescente = 1
# 20 ~ 30 jovem adulto = 2
# 31 ~ 59 adulto = 3
# 60 ~ idoso = 4
# indefinido = 5

def Age_to_discreteInterval(titanic):
    lista = titanic['Age']
    lista2 = []
    for valor in lista:
        if((valor > 0) & (valor <= 10)):
            lista2.append(int(0))
        elif((valor >= 11) & (valor <= 19)):
            lista2.append(int(1))
        elif((valor >= 20) & (valor <= 30)):
            lista2.append(int(2))
        elif((valor >= 31) & (valor <= 59)):
            lista2.append(int(3))
        elif(valor >= 60):
            lista2.append(int(4))
        else:
            lista2.append(int(5))
    return lista2

#dados de treino
titanic3 = titanic2.copy()
titanic3['Age'] = Age_to_discreteInterval(titanic2)

#dados de teste
titanic_teste.Age = Age_to_discreteInterval(titanic_teste)

In [ ]:
# trocar dados categóricos para dados numéricos
# 0 - female
# 1 = male

def sex_to_discrete(titanic):
    lista = []
    for valor in titanic['Sex']:
        if(valor == 'female'):
            lista.append(0)
        else:
            lista.append(1)
    return lista

#dados de treino
titanic4 = titanic3.copy()
titanic4['Sex'] = sex_to_discrete(titanic3)

#dados de teste
titanic_teste.Sex = sex_to_discrete(titanic_teste)

In [ ]:
#juntando duas colunas em uma coluna só

#dados de treino
family = titanic4['SibSp'] + titanic4['Parch']
titanic5 = titanic4.copy()
titanic5.drop(['SibSp','Parch'], axis=1, inplace=True)
titanic5['Family'] = family

#dados de teste
titanic_teste['Family'] = titanic_teste['SibSp'] + titanic_teste['Parch']
titanic_teste.drop(['SibSp','Parch'], axis=1, inplace=True)

In [ ]:
# TROCANDO VARIÁVEIS CATEGÓRICAS POR NUMÉRICAS DISCRETA
# S = 0
# Q = 1
# C = 2

def embarked_to_numeric(titanic):
    lista = []
    for valor in titanic['Embarked']:
        if(valor == 'S'):
            lista.append(0)
        elif(valor == 'Q'):
            lista.append(1)
        elif(valor == 'C'):
            lista.append(2)
        else:
            lista.append(3)
    return lista

#dados de treino
titanic6 = titanic5.copy()
titanic6['Embarked'] = embarked_to_numeric(titanic5)

#dados de teste
titanic_teste.Embarked = embarked_to_numeric(titanic_teste)

In [ ]:
# RELAÇÃO DE SOBREVIVÊNCIA POR IDADE
x = titanic6[titanic6['Survived'] == 0].Age
plt.hist(x)
plt.title('Categoria das idades não sobreviventes')
plt.grid()
plt.ylabel('Frequency')
plt.show()
#-------------------------------------------------------------------------------------------------------------------------

print("\n\n")

#-------------------------------------------------------------------------------------------------------------------------
x2 = titanic6[titanic6['Survived'] == 1].Age
plt.hist(x2)
plt.title('Categoria das idades dos sobreviventes')
plt.grid()
plt.ylabel('Frequency')
plt.show()

In [ ]:
#RELAÇÃO DE SOBREVIVÊNCIA POR NÚMERO DE FAMILIARES À BORDO

x = titanic6[titanic6['Survived'] == 1].Family
plt.hist(x)
plt.title('número de familiares à bordo dos sobreviventes')
plt.grid()
plt.ylabel('Frequency')
plt.show()

#-------------------------------------------------------------------------------------------------------------------------

x2 = titanic6[titanic6['Survived'] == 0].Family
plt.hist(x2,color='purple')
plt.title('número de familiares à bordo dos não sobreviventes')
plt.grid()
plt.ylabel('Frequency')
plt.show()

In [ ]:
# RELAÇÃO DE SOBREVIVENTES POR CLASSE SOCIAL

total = titanic6.count().max()

S1 = round((len(titanic6[(titanic6['Survived'] == 1) & (titanic6['Pclass'] == 1)])/len(titanic6[titanic6['Pclass'] == 1]))*100,2)
S2 = round((len(titanic6[(titanic6['Survived'] == 1) & (titanic6['Pclass'] == 2)])/len(titanic6[titanic6['Pclass'] == 2]))*100,2)
S3 = round((len(titanic6[(titanic6['Survived'] == 1) & (titanic6['Pclass'] == 3)])/len(titanic6[titanic6['Pclass'] == 3]))*100,2)


print("Dos",len(titanic6[titanic6['Pclass'] == 1]),"ricos à bordo,",S1,'% sobreviveram')
print("Dos",len(titanic6[titanic6['Pclass'] == 2]),"de classe média à bordo,",S2,'% sobreviveu')
print("Dos",len(titanic6[titanic6['Pclass'] == 3]),"pobres à bordo,",S3,'% sobreviveram')

# ANÁLISE: 
# 1º: OS RICOS TEM MAIS CHANCES DE SOBREVIVEREM
# 2º: AS MULHERES TÊM MAIS CHANCES DE SOBREVIVEREM
# 3º: CRIANÇAS, ADOLESCENTES TEM MAIS CHANCES DE SOBREVIVEREM
# 4º: PESSOAS COM POUCOS FAMILIARES À BORDO TÊM MAIS CHANCES DE SOBREVIVEREM

In [ ]:
# há um número razoável de pessoas que não pagaram nada e ficaram em classes altas
print(len(titanic6[(titanic6['Pclass'] == 2) & (titanic6['Fare'] == 0) & (titanic6['Age'] > 1) & (titanic6['Age'] < 5)]))

In [ ]:
titanic6.tail(15)

In [ ]:
titanic_teste.tail(15)

In [ ]:
X_treino = titanic6.drop("Survived",axis=1)
Y_treino = titanic6['Survived']

X_teste = titanic_teste

In [ ]:
X_treino.shape, Y_treino.shape, X_teste.shape

In [ ]:
svc = svm.SVC()
svc.fit(X_treino,Y_treino)
Y_pred = svc.predict(X_teste)
acc_svc = round(svc.score(X_treino, Y_treino) * 100, 2)
acc_svc

In [ ]:
resposta = pd.read_csv("../Resposta/gender_submission.csv")
(Y_pred == resposta.Survived).sum()